/* ---------------------------------------- */

.contact-table th {
	width: 160px;
	padding-left: 10px;
}

/* ---------------------------------------- */

.modal-fixed {
	display: flex !important;
	flex-direction: column;
	overflow: hidden; /* モーダル全体の余分なスクロールを防ぐ */
}

/* Fixed Header */
.modal-header-fixed {
	padding: 10px;
	top: 0;
	z-index: 1;
	flex-shrink: 0; /* 高さを固定 */
	position: sticky; /* ヘッダーを固定する */
}

/* Scrollable Content */
.modal-body-fixed {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}

/* ---------------------------------------- */

.passwordResetCompleteNotice {
	display: none;
	border: 1px solid tomato;
	background-color: #FFE4E0;
	padding: 10px;
	color: black;
	margin-top: 6px;
	margin-bottom: 6px;	
}

.passwordResetCompleteNotice p {
	margin: 0px;
}

.passwordResetCompleteNotice i {
    cursor: pointer;	
}

/* ---------------------------------------- */

@media (max-width: 1134px) {
	#navbarNav .nav-link {
		font-size: 14px;
		padding: 0.3rem 0.5rem
	}
	#navbarNav ul li span {
		font-size: 10px;
	}
}

/* ---------------------------------------- */

/* iframeコンテナのスタイル */
.iframe-container {
  position: relative;
  display: inline-block;
}

/* 編集ボタンのスタイル */
.iframe-edit-button svg {
  width: 16px;
  height: 16px;
  fill: #000;
}

.iframe-edit-button:hover {
  background: rgba(255, 255, 255, 1);
}

/* ---------------------------------------- */

.notification-nav-position {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 4px 6px !important;
}

/* ---------------------------------------- */

.datatable-modal {
	width: 100% !important;
	min-height: 100vh !important;
	max-width: 100% !important;
	max-height: auto !important;
	padding-top: 60px!important;
}

.datatable-modal-toolbar {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background-color: #dddddd99;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	text-align: center;
	padding: 10px;
}

.datatable-modal-toolbar .btn {
	background-color: #40BFB0;
	color: white;
	font-size: 16px;
	line-height: 18px;
	padding: 2px 4px 2px 4px;
	margin-left: 4px;
	border-radius: 6px;
}

/* ------------------------------------------- */

.tab-pane table td .fa:hover, .tab-pane table td .far:hover {
    cursor: pointer;
	transition: all 0.6s ease;
	transform: scale(2.4);
	-webkit-transform: scale(2.4);
}

/* ------------------------------------------- */

.table-toggle-switch {
	position: relative;
	width: 40px;
	height: 20px;
	top: 4px;
}

.table-toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.table-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

.table-slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .table-slider {
	background-color: #95DFD6;
}

input:checked + .table-slider:before {
	transform: translateX(16px);
}

/* ------------------------------------------- */

.styled-hr {
        height: 8px;
        background-image: repeating-linear-gradient(45deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%);
        background-size: 8px 8px;
}

.portal-header {
        text-align: center;
        padding: 20px 0;
}

.portal-header__image-wrapper {
        margin-bottom: 10px;
}

.portal-header__image {
        max-width: 95%;
        height: auto;
}

.portal-header__title {
        margin-bottom: 12px;
        font-size: 2rem;
        text-align: center;
}

.portal-header__divider {
        width: 80%;
        margin: 0 auto 20px;
}

/* ------------------------------------------- */

/* カードコンテナのスタイリング */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 6px;
}

.portal-card-grid {
    width: 100%;
}

/* 個々のカードのスタイリング */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(16.6667% - 20px); /* 6カード/行 - ギャップ分を差し引く */
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
        padding: 6px;
}

.portal-card {
        padding: 6px;
}

.card2 {
    width: calc(50% - 20px); /* 2カード/行 */
}	

.card4 {
    width: calc(25% - 20px); /* 4カード/行 */
}	

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* カード内の画像 */
.card-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.portal-card__image {
        width: 100%;
        height: auto;
        object-fit: cover;
}

/* カード内のタイトル */
.card-title {
    padding: 4px;
    font-size: 1.0em;
    text-align: center;
    color: #333;
}

.portal-card__title {
        padding: 4px;
        font-size: 1rem;
        text-align: center;
        color: #333;
}

.portal-card__meta {
        font-size: 14px;
        line-height: 14px;
        text-align: right;
        padding: 5px 8px 5px 5px;
}

/* レスポンシブデザイン */

@media (max-width: 1200px) {
    .card {
        width: calc(16.6667% - 20px); /* 6カード/行 */
    }
    .card2 {
        width: calc(50% - 20px); /* 2カード/行 */
    }
    .card4 {
        width: calc(25% - 20px); /* 4カード/行 */
    }		
}

@media (max-width: 992px) {
    .card {
        width: calc(25% - 20px); /* 4カード/行 */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(33.3333% - 20px); /* 3カード/行 */
    }
}

@media (max-width: 576px) {
    .card {
        width: calc(50% - 20px); /* 2カード/行 */
    }
}

@media (max-width: 360px) {
    .card {
        width: 100%; /* 1カード/行 */
    }
    .card2 {
        width: 100%; /* 1カード/行 */
    }
    .card4 {
        width: 100%; /* 1カード/行 */
    }		
}

/* ------------------------------------------- */

.auth-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.loginFormWrapper input {
	font-size: 14px;
}

@media (max-width: 490px) {
	.loginFormWrapper input {
		font-size: 12px;
	}
}

/* ---------------------------------------- */

/* トグルスイッチのスタイリング */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* スライダーのスタイリング */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* チェックされた状態のスタイル */
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* オプション: スイッチのラベル */
.switch-label {
  margin-left: 10px;
  font-family: Arial, sans-serif;
  vertical-align: middle;
}

/* ------------------------------------------------ */

#itemContainer {
	padding-top: 90px;
	padding-bottom: 124px;
	padding-left: 10px;
	padding-right: 10px;
}

#itemContainer main > section {
	margin-bottom: 40px;
}

#menuContainer .tab-content {
	background-color: white;
}

#menuContainer .tab-content .container {
	max-width: 100%;
}

#menuContainer {
	padding-top: 100px;
	padding-bottom: 124px;
}

@media (max-width: 490px) {
	#itemContainer {
		padding-top: 90px;
	}		
	#menuContainer {
		padding-top: 90px;
	}
}

main section:not(.hero) {	
    margin-left: 0px;
    margin-right: 0px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.tab-content {
    flex: 1;
    overflow-y: auto;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dee2e6;
	height: 120px;
	max-height: 120px;		
}

.toggle-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

/* モバイル対応 */
@media (max-width: 576px) {
    .nav-tabs {
        flex-wrap: wrap;
    }
}

.ql-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFA047;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	text-align: center;
}

/* Quillのツールバー内のaudioアイコンのスタイル */
.ql-toolbar .ql-audio svg {
    height: 18px; /* ツールバーと同じ高さに設定 */
    width: 18px;  /* 同様に幅も設定 */
    vertical-align: middle; /* 垂直方向に中央揃え */
    display: inline-block;  /* インラインブロックに設定 */
}

/* Adjust the edit-container to account for fixed toolbar */
.edit-container {
    padding-top: 60px; /* Adjust based on toolbar height */
    margin-top: 10px;
    position: relative;
}

/* Quillエディタ内のスタイル調整 */
.ql-editor {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* オーバーフローを非表示 */
    min-height: 40px; /* 最小高さを設定 */
}

/* エディタコンテナのスタイル */
.quill-container {
    width: 100%;
    margin: 10px 0;
    position: relative;
    min-height: 150px; /* 最小高さを設定 */
}

/* ボタンコンテナのスタイル */
.buttons-container {
    margin-top: 10px;
    text-align: right;
	position: fixed;
	background-color: #eeeeee;
	border: 1px solid #dddddd;
	padding: 8px;
	bottom: 30px;
	width: 100%;
	margin: 0px;
	left: 0px;
}

/* カスタムDividerボタンのスタイル */
.ql-divider::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><line x1="1" y1="9" x2="17" y2="9" stroke="black" stroke-width="2"/></svg>');
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.ql-syntax {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

/* ------------------------------------------------------- */

/* 背景のオーバーレイ */
.generic-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
	max-width: 100% !important;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* モーダルよりも低いが、他のコンテンツよりも高い */
}

.generic-modal {
    display: none;
    position: fixed;
    top: -100%; /* 初期位置を画面外上部に設定 */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 1280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1010; /* オーバーレイの上に表示 */
    transition: top 0.5s ease; /* 上部からのアニメーション */
	overflow: auto;
	max-height: 90vh;
}

.generic-modal .image-container img {
    max-height: 100%; /* モーダル内で画像の高さを制限 */
    width: auto; /* 横幅が100%になるように調整 */
}

/* 表示時に画面中央に移動 */
.generic-modal.show {
    top: 50%; /* 表示位置 */
    transform: translate(-50%, -50%);
}

.generic-modal input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.generic-modal .button-container {
    display: flex;
    /* justify-content: space-between; */
	gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.generic-modal button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.generic-modal .submit-button {
    background-color: #007bff;
}

.generic-modal .cancel-button {
    background-color: #dc3545;
}

/* ------------------------------------------------------- */

.page-setting-modal {
	
}

.page-setting-category-wrapper {
	margin-top: 0px;
	border: 1px solid #cccccc;
	padding: 10px;
}

.page-setting-category-title {
	font-weight: bold;
	margin: 0px;
	background-color: #eeeeee;
	padding: 3px;
	margin-bottom: 5px;
}

.page-setting-item-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 6px;
}

.page-setting-item-wrapper label {
	min-width: 300px;
	white-space: normal;
	word-wrap: break-word;
}

.page-setting-item-wrapper input {
	flex: 1;
	margin-bottom: 0px;
	width: 100%;
}

.page-setting-item-wrapper select, .page-setting-item-wrapper textarea {
	flex: 1;
	width: 100%;
}

@media (max-width: 600px) {
	.page-setting-item-wrapper label {
		min-width: 160px;
		max-width: 160px;				
	}	
}

/* ------------------------------------------------------- */

.page-row-selected td {
	background-color: #FBE481 !important;
}

.shadow-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* テーブル全体のコンテナ */
.table-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

/* ヘッダースタイル */
.table-header {
    background-color: #CAE7F2;
    color: #444444;
    padding: 4px;
	font-size: 12px;
    text-align: left;
    font-weight: bold;
}

/* テーブルスタイル */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* セルスタイル */
.styled-table td {
    padding: 3px 6px 3px 6px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.styled-table td p {
	margin-top: 0px;
	margin-bottom: 0px;	
}

/* 偶数行のスタイル */
.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

/* ホバースタイル */
.styled-table tbody tr:hover {
    background-color: #e9e9e9;
    transition: background-color 0.2s;
}

.styled-table-data th {
	background-color: #EEF5D3;
}

.styled-table-data td, .styled-table-data th {
	border: 1px solid #dddddd;	
}

/* バッジボタンスタイル */
.badge {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.badge:hover {
    background-color: #0056b3;
    box-shadow: 0 3px 6px rgba(0, 86, 179, 0.3);
}

/* サムネイルの画像 */
.styled-table img {
    border-radius: 4px;
    display: block;
}

/* ---------------------------------------- */

.viewwait-button {
	background-color: #F9DB57;
	border: 1px solid #F9DB5799;;
	color: black;
	padding: 2px 8px 2px 8px !important;
	font-size: 12px;
	width: 50px;
}

.viewcomplete-button {
	background-color: #cccccc;
	border: 1px solid #F9DB5799;;
	color: black;
	padding: 2px 8px 2px 8px !important;
	font-size: 12px;
	width: 50px;
}

.add-button {
	background-color: #CA3C6E;
	border: 1px solid #CA3C6E;
	color: white;
	padding: 2px 8px 2px 8px !important;
	font-size: 12px;
	width: 100px;
}

.newButton {
	background-color: #40BFB0;
	color: white;
	font-size: 12px;
	line-height: 14px;
	padding: 2px 4px 2px 4px;
	margin-left: 4px;
	border-radius: 6px;	
}

.publishButton {
	background-color: #C35B9D;
	color: white;
	font-size: 12px;
	line-height: 14px;
	padding: 2px 4px 2px 4px;
	margin-left: 4px;
	border-radius: 6px;
}

.publishInternalButton {
	background-color: #334BAD;
	color: white;
	font-size: 12px;
	line-height: 14px;
	padding: 2px 4px 2px 4px;
	margin-left: 4px;
	border-radius: 6px;
}

/* ---------------------------------------- */

/* イベントグループ */
.toggle-button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #e9ecef;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}
.toggle-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.folder-back-button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
.folder-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.folder img {
    width: 80px;
    height: 80px;
}
.folder-name {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.folder-name[contenteditable="true"] {
    border: 1px dashed #007bff;
    padding: 2px;
    background-color: #f8f9fa;
}

.toggle-button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #e9ecef;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}
.toggle-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.list-container, .task-container {
    display: none;
    flex-direction: column;
    /* width: 80%; */
}
.list-container table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.list-container th, .list-container td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
.list-container th {
    background-color: #007bff;
    color: white;
}
.list-container tr:nth-child(even) {
    background-color: #f9f9f9;
}
.list-container tr:hover {
    background-color: #f1f1f1;
}

.content-item__proxy-status {
    font-size: 12px;
    margin-top: 4px;
    color: #666;
}

.content-item__proxy-status--processing {
    color: #d9822b;
}
/* イベントグループ */
